<%= render partial: "question/header" %>
<script>
  $(document).ready(function (){
     $("#register-btn").click(function (){
         $("#login-form").css("display", "none");
         $("#sign-up-form").css("display", "block");
     }) ;
     $("#go-to-login-btn").click(function (){
         $("#sign-up-form").css("display", "none");
         $("#login-form").css("display", "block");
     }) ;
  });
</script>
<div id="content">
  <div class="rowl" id="content_table">
    <div class="col-sm-2 area"></div>
    <div class="col-sm-8 area">
      <div class="row" style="position:relative; height:300px; width: 500px; top: 20%; left: 20%; background: white;">
        <div id="login-form" style="display: block">
        <%= form_tag :action =>  "authenticate" do %>
          <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <%= text_field "user", "email_id", class: "form-control", id: "email", placeholder: "Email id" %>
        </div>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <%= password_field "user", "password", class: "form-control", id: "password", placeholder: "Password" %>
        </div>
          <div align="right" style="padding: 20px;">
          <%= submit_tag "Login", class: "btn btn-success" %>
          <input type="button" id="register-btn" class="btn" value="Register"></input>
          </div>
            <% end %>
        </div>
        <div id= "sign-up-form" style="display: none">
        <%= form_tag :action => "signup" do %>
            <div class="input-group">
              <span class="input-group-addon">First Name</span>
              <%= text_field "user", "first_name", class: "form-control", id: "first_name", placeholder: "First Name"%>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Last Name</span>
              <%= text_field "user", "last_name", class: "form-control", id: "last_name", placeholder: "Last NAme" %>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Email</span>
              <%= text_field "user", "email_id", class: "form-control", id: "email_id", placeholder: "Email id" %>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Password</span>
              <%= password_field "user", "password", class: "form-control", id: "password", placeholder: "Password" %>
            </div>
            <div align="right" style="padding: 20px;">
              <%= submit_tag "Sign Up", class: "btn btn-success" %>
              <input type="button" id="go-to-login-btn" class="btn" value="Go to Login"></input>
            </div>

        <% end %>
        </div>
      <hr size="20px" color="white">
      <div class="row">
      </div>
      <div class="row nav-section">

      </div>
    </div>
    <div class="col-sm-2 area"></div>
  </div>
</div>
